{% if posts %}
    <table class="table table-hover">
        {% for post in posts %}
            {% set user_link %}
                <a href="{{ url_for('users.get_user', id=post.author.id) }}">
                    {% if current_user == post.author %}
                        {{ 'You' }}{% else %}
                        {{ post.author.username }}{% endif %}
                </a>
            {% endset %}
            <tr>
                <td width="50">
                    <h3>{{ user_link }}</h3>
                    <p>{{ moment(post.timestamp).fromNow() }}</p>
                </td>
                <td>
                    {% include '_post.html' %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include '_pagination.html' %}
{% else %}
    <div class="alert alert-danger m-center-align">
        <h4>{{ 'No Posts' }}</h4>
    </div>
{% endif %}
