{% extends 'base.html' %}

{% block heading %}{{ 'Groups You Belong To' }}{% endblock %}
{% block app_content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% if groups %}
                <table class="table table-hover">
                    <thead>
                        <th>{{ 'Group' }}</th>
                        <th>{{ 'Course' }}</th>
                        <th>{{ 'Members'}}</th>
                        <th>{{ 'Admin' }}</th>
                    </thead>
                    <tbody>
                        {% for group in groups %}
                            <tr>
                                <td><a href="{{ url_for('groups.get_group',
                                                         id=group.id) }}">
                                    {{ group.name }}</a></td>
                                <td>{{ group.course_name }}</td>
                                <td>{{ group.get_members().count() }}</td>
                                <td>{% if group.admin == current_user %}
                                    {{ 'You' }}{% else %}
                                    {{ group.admin.username }}{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 m-center-align">
            <a href="{{ url_for('groups.create_group') }}"
               class="btn btn-default">
                {{ 'Create Group' }}</a>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
