{% extends 'base.html' %}

{% block app_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="page-header m-center-align">
                <h2>{{ 'Faculties' }}</h2>
            </div>

            <table class="table table-hover">
                <thead>
                    <th>{{ 'Name' }}</th>
                    <th>{{ 'Faculty Information' }}</th>
                </thead>
                <tbody>
                    {% for faculty in faculties %}
                        <tr>
                            <td><a href="{{ faculty._link }}">
                                {{ faculty.name }}</a></td>
                            <td>{{ faculty.info }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
