{% if posts %}
    <table class="table table-hover">
        {% for post in posts %}
            <tr>
                {% set user_link %}
                    <a href="{{ url_for('users.get_user', id=post.author.id) }}">
                        {% if current_user == post.author %}
                            {{ 'You' }}{% else %}
                            {{ post.author.username }}{% endif %}
                    </a>
                {% endset %}
                {% set group_link %}
                    {% if post.group.is_member(current_user) %}
                    <a href="{{ url_for('groups.get_group',
                                    id=post.group.id) }}">
                        {{ post.group.name }}<br>
                        {{ post.group.course_code }}
                    </a>
                    {% else %}
                        {{ post.group.name }}<br>
                        {{ post.group.course_code }}
                    {% endif %}
                {% endset %}
                <td width="50">
                    <h4>{{ user_link }}</h4>
                    <h4>{{ group_link }}</h4>
                    <p>{{ moment(post.timestamp).fromNow() }}</p>
                </td>
                <td>
                    {% include '_post.html' %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% include '_pagination.html' %}
{% else %}
    <div class="alert alert-danger m-center-align">
        <h4>{{ 'No Posts' }}</h4>
    </div>
{% endif %}
