{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - PaphraEduco
    {% else %}Welcome to PaphraEduco
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-main"
                        aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    PaphraEduco</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('main.index') }}">
                        {{ 'Home' }}</a></li>
                    <li class="dropdown">
                        <a href="{{ '/faculties' }}" class="dropdown-toggle"
                           data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                           {{ 'Faculties' }} <span class="caret"></span></a>

                        {% if faculties %}
                            <ul class="dropdown-menu">
                                {% for faculty in faculties %}
                                    <li><a href="{{ faculty._link }}">
                                        {{ faculty.name }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
