{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css.css')}}">
{% endblock %}
{% block title %}
    {% if title %}{{ title }} - PEduco
    {% else %}Welcome to PEduco
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-heading">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar-main"
                        aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">
                    PEduco</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="{% if a and a=='i' %}active{% endif %}">
                        <a href="{{ url_for('main.index') }}">
                        {{ 'Home' }}</a></li>
                </ul>
                {% if search_form %}
                    <form class="navbar-form navbar-left" action="" method="post">
                        {{ search_form.csrf_token }}
                        <div class="form-group">
                        {{ search_form.search(class='form-control') }}
                        </div>
                        {{ search_form.search_btn(class='btn btn-default') }}
                    </form>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="{% if a and a == 'g' %}active{% endif %}">
                            <a href="{{ url_for('groups.groups') }}">
                                {{ 'Groups' }}</a></li>
                        <li class="{% if a and a=='p' %}active{% endif %}">
                            <a href="{{ url_for('users.profile') }}">
                                {{ 'Profile' }}
                                {% if name %}
                                [{% if name == current_user.username %}You
                                {% else %}{{ name }}{% endif %}]
                                {% endif %}
                            </a></li>
                        <li><a href="{{ url_for('auth.logout') }}">
                            {{ 'Logout' }}</a></li>
                    {% else %}
                        <li class="{% if a and a=='l' %}active{% endif %}">
                            <a href="{{ url_for('auth.login') }}">
                                {{ 'Login' }}</a></li>
                        <li class="{% if a and a=='r' %}active{% endif %}">
                            <a href="{{ url_for('auth.register' )}}">
                                {{ 'Register' }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info m-center-align">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="page-header">
            <h3 class="m-center-align">{% block heading %}{% endblock %}</h3>
        </div>
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

{% endblock %}
