{% extends 'base.html' %}

{% block heading %}{{ 'Published Posts' }}{% endblock %}
{% block app_content %}
    {% if search_results %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h4 class="m-center-align">{{ 'Search Results' }}</h4>
            {% with posts = search_results %}
                {% include '_posts.html' %}
            {% endwith %}
        </div>
        <div class="col-md-2"></div>
    </div>
    <h4 class="m-center-align">{{ 'Other Posts' }}</h4>
    {% endif %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {% include '_posts.html' %}
        </div>
        <div class="col-md-2"></div>
    </div>

{% endblock %}
